.places {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.places h1 {
  font-size: 30px;
  text-align: left;
}

.places-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.places-container article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places-container article h2 {
  font-size: 30px;
}
