.places {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.places h1 {
  font-size: 30px;
  text-align: left;
}

.places-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.places-container > article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article .article-title {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
  padding-left: 50px;
}

.places-container article h2 {
  font-size: 30px;
}

.places-container .price_by_night {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 45px 20px;
  color: #ff5a5f;
  font-size: 30px;
  border: 4px solid #ff5a5f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-block: 1px solid #ddd;
  width: 100%;
  margin-top: 30px;
  padding-block: 8px;
}
.information .max_guest {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("../images/icon_group.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 45px;
}
.information .number_rooms {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("../images/icon_bed.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 45px;
}
.information .number_bathrooms {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("../images/icon_bath.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 45px;
}
.places-container .user {
  margin-top: 30px;
  align-self: start;
}

.places-container .description {
  margin-top: 30px;
}
